<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Your outcome fried requests</h1>

<tr th:each="request : ${incomeRequests}">
    <td><span th:text="${request.userFrom.firstName}"> firstName </span></td>
    <td><span th:text="${request.userFrom.lastName}"> lastName </span></td>
</tr>
</body>

<script>
    const home = "http://localhost:8090/findme_war/";

    $("#confirm_friend_request").submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: "PUT",
            url: home + "relationship/update",
            data: {
                userToIdStr: request.userFrom.id,
                status: "FRIENDS"
            },
            success: function () {
                alert("Success");
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    });

    //reject his request
    $("#delete_from_friends").submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: "PUT",
            url: home + "relationship/update",
            data: {
                userToIdStr: request.userFrom.id,
                status: "DELETED"
            },
            success: function () {
                alert("Success");
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    });
</script>
</html>