<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div class="left">
        <h1>Photo</h1>

        <div>
            <button class="btn">Send message</button>
        </div>
    </div>

    <div class="right">
        <p th:text="${user.firstName}"></p>
        <p th:text="${user.lastName}"></p>
        <p th:text="${user.phone}"></p>
        <p th:text="${user.mail}"></p>
        <p th:text="${user.country}"></p>
        <p th:text="${user.city}"></p>
        <p th:text="${user.age}"></p>
        <p th:text="${user.relationshipStatus}"></p>
        <p th:text="${user.religion}"></p>
        <p th:text="${user.school}"></p>
        <p th:text="${user.university}"></p>
    </div>
</div>
</body>

<style>
    .left {
        float: left;
        width: 200px;
        height: 300px;
        border: solid;
    }

    .right {
        margin-left: 300px;
    }

    .btn {
        margin-top: 230px;
    }
</style>

<script>
    const home = "http://localhost:8090/findme_war/";

    $("#send_friend_request").submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: home + "relationship/add",
            data: {
                userToIdStr: user.id,
            },
            success: function () {
                alert("Success");
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    });

    $("#confirm_friend_request").submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: "PUT",
            url: home + "relationship/update",
            data: {
                userToIdStr: user.id,
                status: "FRIENDS"
            },
            success: function () {
                alert("Success");
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    });

    //cancel my request / reject his request / delete from friends
    $("#delete_from_friends").submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: "PUT",
            url: home + "relationship/update",
            data: {
                userToIdStr: user.id,
                status: "DELETED"
            },
            success: function () {
                alert("Success");
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    });
</script>
</html>