<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div class="left">
        <h1>Photo</h1>

        <div>
            <button class="btn">Send message</button>
        </div>
    </div>

    <div class="right">
        <p th:text="${user.firstName}"></p>
        <p th:text="${user.lastName}"></p>
        <p th:text="${user.phone}"></p>
        <p th:text="${user.mail}"></p>
        <p th:text="${user.country}"></p>
        <p th:text="${user.city}"></p>
        <p th:text="${user.age}"></p>
        <p th:text="${user.relationship.status}"></p>
        <p th:text="${user.religion}"></p>
        <p th:text="${user.school}"></p>
        <p th:text="${user.university}"></p>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/3.1.1/jquery.serializejson.min.js"></script>
</body>

<style>
    .left {
        float: left;
        width: 200px;
        height: 300px;
        border: solid;
    }

    .right {
        margin-left: 300px;
    }

    .btn {
        margin-top: 230px;
    }
</style>

<script>
    const home = "http://localhost:8090/findme_war/";

    //relationship

    $("#send_friend_request").submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            url: home + "relationship/add",
            data: {
                userToId: user.id,
            },
            success: function () {
                alert("Success");
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    });

    $("#confirm_friend_request").submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: "PUT",
            url: home + "relationship/update",
            data: {
                userToId: user.id,
                status: "FRIENDS"
            },
            success: function () {
                alert("Success");
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    });

    $("#cancel_my_request").submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: "PUT",
            url: home + "relationship/update",
            data: {
                userToId: request.userFrom.id,
                status: "CANCELED"
            },
            success: function () {
                alert("Success");
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    });

    $("#reject_his_request").submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: "PUT",
            url: home + "relationship/update",
            data: {
                userToId: request.userFrom.id,
                status: "REJECTED"
            },
            success: function () {
                alert("Success");
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    });

    $("#delete_from_friends").submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: "PUT",
            url: home + "relationship/update",
            data: {
                userToId: user.id,
                status: "DELETED"
            },
            success: function () {
                alert("Success");
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    });

    //post

    $("#create_post").submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: home + "post/create",
            data: JSON.stringify($("#some-form").serializeJSON()),
            dataType: 'json',
            success: function () {
                alert("Success");
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    });

    $("#update_post").submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: "PUT",
            contentType: "application/json",
            url: home + "post/update",
            data: JSON.stringify($("#some-form").serializeJSON()),
            dataType: 'json',
            success: function () {
                alert("Success");
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    });

    $("#delete_post").submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: "DELETE",
            url: home + "post/delete",
            postId: "", //postId
            success: function () {
                alert("Success");
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    });

    $("#get_by_filter").submit(function (e) {
        e.preventDefault();
        $.ajax({
            type: "GET",
            contentType: "application/json",
            url: home + "post/getByFilter",
            userId: user.id,
            data: JSON.stringify($("#some-form").serializeJSON()),
            dataType: 'json',
            success: function () {
                alert("Success");
            },
            error: function (xhr) {
                alert(xhr.responseText);
            }
        });
    });

</script>
</html>